<!-- originally had code to list all posts on the index page, but we want each post to have a link -->
<!-- # <% @posts.each do |post| %>
#   <div><%= post.title %></div>
# <% end %> -->

<!-- hardcoded path way that we are normally used to from previous lessons -->
<!-- # <% @posts.each do |post| %>
#   <div><a href='<%= "/posts/#{post.id}" %>'><%= post.title %></a></div>
# <% end %> -->


<!-- # <% @posts.each do |post| %>
#   <div><%= link_to post.title, "/posts/#{post.id}" %></div>
# <% end %> -->

<!-- # <% @posts.each do |post| %>
#   <div><%= link_to post.title, post_path(post.id) %></div>
# <% end %> -->

<% @posts.each do |post| %>
  <div><%= link_to post.title, post_path(post) %></div>
<% end %>
